nav {
  display: flex;
  justify-content: space-between;

  .instagram {
    justify-content: space-between;
    #insta2 {
      padding-right: 20px;
    }
    #insta {
      border-style: none none none solid;
      font-family: 'Lobster', cursive;
      font-size: 40px;
      padding-left: 20px;
    }
  }
  input {
    content: '\f002';
    font-family: FontAwesome;
    font-style: bold;
    font-weight: normal;
    text-decoration: inherit;
    border-style: none;
    border-style: solid;
    text-align: center;
    width: 250px;
    height: 20px;
    margin-top: 10px;
    background-color: #fafafa;
    border-color: #efefef;
  }
  #my_page {
    justify-content: space-evenly;
  }
}

.dotdot {
  border-bottom: 1px solid;
  margin-bottom: 40px;
  background-color: #fafafa;

  .dot {
    color: red;
    margin-right: 75px;
    font-size: 1px;
    background-color: white;
  }
}

section {
  padding-left: 220px;
  background-color: #fafafa;
  display: flex;

  .next_emoji_heart {
    margin-left: 100px;
  }

  input {
    content: '\f002';
    font-family: FontAwesome;
    font-style: bold;
    font-weight: normal;
    text-decoration: inherit;
    border-style: none;
    border-style: solid;
    text-align: center;
    width: 250px;
    height: 20px;
    margin-top: 10px;
    background-color: #fafafa;
    border-color: #efefef;
  }

  .box1 {
    width: 400px;

    border: solid 1px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;

    .box1_up {
      width: 400px;
      height: 50px;
      border: solid 1px;
    }

    .picture {
      width: 400px;
      height: 390px;
      border: solid 1px;
    }

    .box1_under {
      width: 400px;
      height: 44px;
      border: solid 1px;
      font-size: smaller;

      .fa-rectangle-portrait {
        margin-left: 300px;
      }
    }

    .box1_under1 {
      width: 400px;

      .textbox {
        list-style: none;
      }
    }

    .writeBox {
      display: flex;
      justify-content: space-between;

      #input2 {
        text-align: left;
        border: none;
        width: 330px;
        // padding-left: 8px;
        // padding-right: 8px;
        // padding-top: 7px;
      }

      #button {
        border: none;
        background-color: white;
      }
    }
  }
  .box2 {
    .box_right1 {
      width: 300px;
      height: 50px;
      display: flex;

      .box_right_container {
        justify-content: space-between;
        margin-left: 10px;

        .box_right_text {
          font-weight: bold;
        }

        .box_right_text2 {
          font-size: small;
        }
      }
    }
    .box_right2 {
      width: 300px;
      height: 140px;
      border: solid 1px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;

      .box_right2_text {
        font-size: small;
        display: flex;
        justify-content: space-between;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 7px;

        .story {
          font-weight: bold;
        }
      }

      .recommend-profile-username {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 290px;

        .temp_box {
          display: flex;
          align-items: center;

          .box_right_container2 {
            justify-content: space-between;

            .box_right_text1 {
              font-size: small;
              font-weight: bold;
            }
          }
        }
      }
    }

    .box_right3 {
      width: 300px;
      height: 150px;
      border: solid 1px;
      margin-bottom: 10px;

      .follow_blue {
        color: rgb(22, 123, 238);
        font-weight: bold;
      }
    }

    .box_right4 {
      width: 300px;
      height: 100px;
      border: none;
      font-size: x-small;
      color: #c9b784;

      .box_right4_2019 {
        margin-top: 10px;
      }
    }
  }
}
