div#login-page-sy {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .loginbox {
        padding: 20px;
        width: 400px;
        height: 500px;
        border: 2px solid grey;
        text-align: center;
  
        h1 {
          font-family: 'Lobster Two', cursive;
          font-size: 60px;
        }
  
        .loginForm {
          display: flex;
          flex-direction: column;
          margin-top: 80px;
          margin-bottom: 60px;
          font-size: 20px;
  
          input {
            width: 300px;
            margin-bottom: 10px;
            margin-left: 50px;
            border: 1px solid gray;
            border-radius: 5px;
            background-color: #fafafa;
            outline: none;
            padding: 15px 0 15px 0;
          }
  
          button {
            width: 300px;
            margin-left: 50px;
            padding: 20px 0 20px 0;
            background-color: rgb(34, 162, 212);
            color: white;
            border: none;
            border-radius: 5px;
            outline: none;
            opacity: 0.5;
            cursor: default;
          }
        }
  
        a {
          color: darkblue;
          font-weight: bold;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
  