@import url(https://use.fontawesome.com/releases/v5.15.4/css/all.css);
@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);

* {
  padding: 0px;
  margin: 0px;
}

html {
  margin: 0;
  cursor: default;
  background-color: #fafafa;
}

body {
  height: 100%;
  margin: 0;
  cursor: default;
}

.login {
  width: 350px;
  height: 400px;
  margin: 130px auto;
  border: 1px solid lightgray;
  background-color: white;

  .login__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 40px auto 25px auto;
    font-size: 45px;
    font-family: 'Lobster', cursive;
    color: #313131;
  }

  .login__form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 40px auto 80px auto;

    #input {
      width: 100%;
      height: 100%;
    }

    #login__id {
      width: 260px;
      height: 25px;
      padding: 9px;
      margin: 2px auto;
      border: 1px solid lightgray;
      border-radius: 3px;
      background-color: #fafafa;

      &:focus {
        border-radius: 3px;
        outline: none;
      }

      &::placeholder {
        font-size: 13px;
        color: rgb(170, 170, 170);
      }
    }

    #login__pw {
      width: 260px;
      height: 25px;
      padding: 9px;
      margin: 2px auto 5px auto;
      border: 1px solid lightgray;
      border-radius: 3px;
      background-color: #fafafa;

      &:focus {
        border-radius: 3px;
        outline: none;
      }

      &::placeholder {
        font-size: 13px;
        color: rgb(170, 170, 170);
      }
    }

    #login__btn {
      width: 280px;
      height: 35px;
      padding: 9px;
      margin: 10px auto;
      border: 0;
      background-color: #0195f7;
      font-size: 14px;
      font-weight: bold;
      color: white;
      cursor: pointer;

      &:disabled {
        background-color: #b2dffc;
        cursor: default;
      }
    }
  }

  .password__reset {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 350px;
    height: 20px;
    margin: 20px auto;
    text-align: center;

    a {
      color: #262626;
      font-size: 12px;
      text-decoration: none;
    }
  }
}
